.bground-headingone {
    font-family: "Fraunces" 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    padding-top: 137px;
    padding-left: 85px;
    color: #fafafa;
}
.bground {
    background-image: url("./../images/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1280px;
    height: 450px;
}
.bgroin{
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}
