.section-three{
    display: flex;
    justify-content: space-between;  
}
.section-three__heading-two{
    font-family: "Fraunces" 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.malion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 168px;  
}
.dive{
    margin-top: 85px;  
    
}
.otmush{
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.united{
    font-family: "Fraunces" 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}